<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    body{
      background: #85ce61;
    }
  </style>

</head>
<body>
<div id="login">
  <template v-model="user" >

    <div id="border_div">
      <h1>登录</h1>
      <div class="show_div">
        <div class="name_div">
          <span>姓名：</span>
          <input type="text" v-model="user.username"  @keyup.enter="$event.target.blur" placeholder="请输入用户名称">
        </div>
      </div>

      <div class="show_div">
        <div class="password_div">
          <span>密码：</span>
          <input type="password" v-model="user.password" @keyup.enter="$event.target.blur" placeholder="请输入用户密码">
        </div>
      </div>

      <div class="showYZM_div">
        <div class="yzm_div">
          <span>验证码：</span>
          <input type="text" v-model="check_yzm" @keyup.enter="$event.target.blur" placeholder="请输入验证码">
        </div>
        <div class="yzm_picture_div">
          <span  v-text="" >{{yzm_code}}</span>
        </div>
        <div class="yzm_text_div">
          <a href="javascript:void(0);" @click="changeYZM">看不清，换一张试试？</a>
        </div>
      </div>

      <div>
        <div>
          <button @click="login">登录</button>
          <button @click="reset">重置</button>
          <a href="http://localhost:8080/page/register04.html">注册新用户</a>
        </div>
        <div style="color: red">
          <p v-show="showErrorMssage">{{ErrorMessage}}</p>
        </div>
      </div>

    </div>
  </template>
</div>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>
<script>
  new Vue ({
    el: "#login",
    data(){
      return{
        yzm_code:'1x3z',
        check_yzm:'',
        check_yzm_status:false,
        yzm_code_length:4,
        ErrorMessage:'',
        showErrorMssage:false,
        user:{
          username:'',
          password:''}
      }
    },
    computed:{
      init(){
        console.log("初始化验证码---axaz")
      }
    },
    methods: {
      changeYZM: function () {
        let yzm_code = '';//点击更换时-初始验证码
        let yzm_code_length = this.yzm_code_length;//验证码长度获取
        let codeChars = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
          'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
          'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];//候选字符
        //通过循环获取yzm_code_length位codeChars中的字符下标，并通过下标获取指定字符，最后拼接
        for (let i = 0; i < yzm_code_length; i++) {
          let charNum = Math.floor(Math.random() * 62);//获取随机验证码下标
          yzm_code += codeChars[charNum];//根据下标获取指定字符并拼接
        }
        console.log("修改后验证码---" + yzm_code);
        return this.yzm_code = yzm_code;
      },
      // checkName: function () {
      //   if (this.user.username == '') {
      //     this.ErrorMessage = '用户名不能为空';
      //     this.showErrorMssage = true;
      //     return;
      //   }
      //
      //       // else if(this.username != this.user.name){
      //       //   this.ErrorMessage = '用户名输入有误';
      //       //   this.showErrorMssage = true;
      //       //   return;
      //   // }
      //
      //   else {
      //     this.ErrorMessage = '';
      //     this.showErrorMssage = false;
      //   }
      // },
      // checkWord: function () {
      //   if (this.user.password == '') {
      //     this.ErrorMessage = '用户密码不能为空';
      //     this.showErrorMssage = true;
      //     return;
      //   } else {
      //     this.ErrorMessage = '';
      //     this.showErrorMssage = false;
      //   }
      // },
      // checkYZM: function () {
      //   if (this.check_yzm == '') {
      //     this.ErrorMessage = '验证码不能为空';
      //     this.showErrorMssage = true;
      //     return;
      //   } else if (this.check_yzm.toUpperCase() != this.yzm_code.toUpperCase()) {
      //     console.log("待校验验证码---" + this.check_yzm.toUpperCase())
      //     console.log("正确验证码---" + this.yzm_code.toUpperCase())
      //     this.ErrorMessage = '验证码输入有误';
      //     this.showErrorMssage = true;
      //     return;
      //   } else {
      //     this.ErrorMessage = '';
      //     this.showErrorMssage = false;
      //     this.check_yzm_status = true;
      //   }
      // },
      login: function () {
        console.log(this.user);
        if (this.user.username == '') {
          this.ErrorMessage = '用户名不能为空';
          this.showErrorMssage = true;
          return;
        }

        if (this.user.password == '') {
          this.ErrorMessage = '用户密码不能为空';
          this.showErrorMssage = true;
          return;
        }

        if (this.check_yzm == '') {
          this.ErrorMessage = '验证码不能为空';
          this.showErrorMssage = true;
          return;
        } else if (this.check_yzm.toUpperCase() != this.yzm_code.toUpperCase()) {
          console.log("待校验验证码---" + this.check_yzm.toUpperCase())
          console.log("正确验证码---" + this.yzm_code.toUpperCase())
          this.ErrorMessage = '验证码输入有误';
          this.showErrorMssage = true;
          return;
        } else {
          this.ErrorMessage = '';
          this.showErrorMssage = false;
          this.check_yzm_status = true;
        }

        axios.interceptors.request.use(config=>{
        // config.session=this.data;
        config.session=this.data;
        console.log(config.session);
          return config;
        },err=>{
          return Promise.reject(err);
        });

        axios(
            {
              method: "post",
              url: "http://localhost:8080/user/login",
              data: this.user,
              // sessionStorage:this.user
            }
        ).then((response) => {
          //在Vue中this始终指向Vue，但axios中this为undefined，
//若需要赋值给变量用以渲染数据，可以通过=>函数，这时this为Vue
//           this.$router.push("s.html");
          // this.$rounter.

          console.log(response.data)
          // document.write(response.data);

          if (response.data == "error") {
            this.ErrorMessage = '用户名或密码输入有误';
            this.showErrorMssage = true;

          }else {
            window.location.href="s.html?username="+this.user.username;
          }

        })
      },
      reset: function () {
        console.log(this.user);
        this.user.username = '';
        this.user.password = '';
        this.yzm_code = '';
        this.check_yzm = '';
        this.check_yzm_status = false;
        this.ErrorMessage = '请重新输入用户信息';
        this.showErrorMssage = true;
        this.check_yzm_status = false;
        console.log(this.user);

      }
    }
  })
</script>

<style scoped>
  #border_div{
    width: 500px;
    height: 400px;
    background: #ffdad6;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    border-radius: 15px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .show_div{
    width: 500px;
    height: 30px;
    position: relative;
  }
  .showYZM_div{
    width: 500px;
    height: 80px;
    position: relative;
  }
  .yzm_picture_div{
    width: 240px;
    margin-left: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: floralwhite;
    letter-spacing: 35px;
    color: orangered;
  }
  .yzm_picture_div{
    font-size: 15px;
  }
  .name_div{
    margin-top: 30px;
  }
  .password_div{
    margin-top: 30px;
  }
  .yzm_div{
    margin-top: 30px;
  }
</style>


</body>
</html>
